
.header{
  padding-inline: 0;
  max-width: 100%;
  .banner{ 
    background-image: url(../images/bg_home.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include media-breakpoint-down(md){   
      background-image: url(../images/bg_home_mobile.jpg);
      width: 100%;
      height: 336px;
    }
  .border-square {
    padding: 51px 0;
    border: 1px solid #fff;
    background: #1C1C1C;

    .square {
    width: 10px;
    height: 10px;
    background-color: #fff;
   }
    h1{
    font-size: 48px;
    line-height: 70px;
    color:white;
    margin-bottom: 24px;
    @include media-breakpoint-down(xl){   
      font-size: 30px;
      line-height: 45px;
    }
    @include media-breakpoint-down(lg){   
      font-size: 24px;
      line-height: 35px;
      
    }
    }
    p{
      font-size: 18px;
      line-height: 26px;
      color:white;
      @include media-breakpoint-down(xl){   
        font-size: 20px;
        line-height: 30px;
      }
      @include media-breakpoint-down(lg){   
        font-size: 14px;
        line-height: 20px;
      }
    }   
  }
}

}


.text-linear-gradient{
  background:linear-gradient(to top,#62DB54,#09ACF5);
  color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-linear-gradient{
  background:linear-gradient(to left,#62DB54,#09ACF5);
  &:hover{
    background:linear-gradient(to right,#62DB54,#09ACF5);
  }
}

.green-line{
  width: 50px;
  background:#62DB54;
  height:3px;
}


.assist{
  i{
    background:linear-gradient(to bottom,#62DB54,#09ACF5);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  @include media-breakpoint-up(md){
    i{
      color: #fff;
    }
  }
  .card{
  opacity: 0.9;
  background:#2D2D2D;
  &:hover{
    border: 1px solid #62DB54;
    border-radius: 12px;
    background:#202020 ;
    i{
      background:linear-gradient(to bottom,#62DB54,#09ACF5);
      color:transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  @include media-breakpoint-down(xl){
    margin-top: 24px;
  }
}
}

.class-flow{
    h2{ 
        font-size: 28px;
        line-height: 40px;
        @include media-breakpoint-down(md){
          font-size: 22px;
          line-height: 32px;
        }
    }
  .card{
    border-radius: 12px;
    
    .card-num{
      left:40px;
      top:0px;
      background:#1c1c1c;
      padding: 0 8px;
    }
  }
}

.program{
  h2{
    width: 216px;
    @include media-breakpoint-up(md){
      width: auto;
    }
  }
  .swiper-slide{
    width: auto!important;
  }
  button{
    
    display: block;
    overflow: hidden;
    &:hover{
      color:$primary;
      background-color: #2D2D2D;
    }
  }

}



.recommend{
  .card{
    border-radius: 24px;
    @include media-breakpoint-down(xl){
      margin-bottom: 24px;
  }
    &:hover{
      border: 1px solid #62DB54;
    }
    img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    }
    .class-title{
      height: 58px;
      line-height: 29px;
      margin-bottom: 8px;
      overflow-y: hidden;
    }
    .price{
  border-top: 1px solid #C1C1C1;
    } 
  }
  button{
    border-radius: 8px;
    &:hover{
      opacity: 0.7;
    }
  }
}

.highlight{
  &-icon{
    font-size: 32px;
    margin-bottom: 18px;
    color:$primary;
  }
  .white-line{
    width: 50px;
    background:$primary;
    height:3px;
  }
  &-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 263px;
    opacity: 1;
    @include media-breakpoint-up(md){
        opacity: 0.5;
        height: 615px;
        .highlight-icon{
          color:white;
        }
        .white-line{
          background:white;
        }
      }
    &:hover{
      opacity: 1;
      .highlight-icon{
        color:$primary;
      }
      .white-line{
        width: 70px;
        background:#62DB54;
      }
    }

  }
  &-img1{
    background-image: url('../images/info01.jpg');
  }
  &-img2{
    background-image: url('../images/info02.jpg');
  }
  &-img3{
    background-image: url('../images/info03.jpg');
  }
  &-img4{
    background-image: url('../images/info04.jpg');
  }
  
}

.article{
  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }
  .card{
    background-color: #1C1C1C;
    @include media-breakpoint-up(lg){
      &:hover{
            .squareRounded{
              display: block;;
            }
        }
    } 
  }
}

.feedback{
  background-image: url('../images/bg_share.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .swiper {
    width: 100%;
    height: 429px;
    @media (max-width:991px) {
      height: auto;
    }
    &-img {
      top: 0;
      left: 10px;
      width: 60%;
      height: 90%;
      border-radius: 24px;
      position: absolute;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #7C7E77;
        border-radius: 24px;
        left: -10px;
        top: 10px;
        z-index: -1;
        @media (max-width:991px) {
          left: -5px;
          top: 5px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }
      @media (max-width:991px) {
        position: relative;
        width: calc(100% - 5px);
        height: 213px;
        left: 5px;
        margin-bottom: 40px;
      }
    }
    .card {
      width: 45%;
      padding: 32px;
      border-radius: 24px 24px 24px 0;
      bottom: 0;
      right: 0;
      position: absolute;
      h3 {
        font-size: 18px;
      }
      &-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 32px;
        bottom: 100%;
        transform: translateY(50%);
        @media (max-width:991px) {
          width: 80px;
          height: 80px;
          right: 24px;
          top: -30px;
          bottom: auto;
          transform: none;
        }
      }
      @media (max-width:991px) {
        position: relative;
        width: 100%;
        padding: 24px;
        margin-bottom: 32px;
      }
    }
  
    .swiper-button-next:after, .swiper-button-prev:after {
      content: '';
    }
    &-button-next, &-button-prev {
      position:unset;
      width: 24px;
      height: 24px;
      margin-top: 0;
      color: #62DB54;
    }
  
    .swiper-pagination {
      position: unset;
      width: auto;
      .swiper-pagination-bullet {
        background-color: #62DB54;
        opacity: initial;
        &-active {
          width: 16px;
          border-radius: 100px;
        }
      }
    }
  
    &-buttons {
      bottom: 0;
      left: 30%;
      transform: translateX(-50%);
      z-index: 10;
      position: absolute;
      @media (max-width: 991px) {
        position: initial;
        transform: none;
      }
    }
  }
}

.join-us{
  &-border{
    border-radius: 24px;
  }
  &-icon{
    font-size: 80px;
  }
  button{
    border-radius: 8px;
  }
}